<%= title_tag t(".title") %>

<% form_for_input @input do |f| %>
  <%= f.error_messages %>

  <%= render @input.presenter.form_partial(f) %>

  <p>
    <%= f.submit t(".submit") %> 
    <%= t("or") %> <%= link_to "#{t(".cancel")} &#8250;", input_path %>
  </p>
<% end %>

