<p>
  <%= form.label :name, Stream.human_attribute_name("name") %><br/>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description, Stream.human_attribute_name("description") %><br/>
  <%= form.text_field :description %>
</p>

<p>
  <%= form.label :genre, Stream.human_attribute_name("genre") %><br/>
  <%= form.text_field :genre %>
</p>

<p>
  <%= form.label :related_url, Stream.human_attribute_name("related_url") %><br/>
  <%= form.text_field :related_url %>
</p>

<h3><%= t(".server_attributes") %></h3>

<p>
  <%= form.label :server, Stream.human_attribute_name("server") %><br/>
  <%= form.text_field :server %>
</p>

<p>
  <%= form.label :port, Stream.human_attribute_name("port") %><br/>
  <%= form.text_field :port %>
</p>

<p>
  <%= form.label :mount_point, Stream.human_attribute_name("mount_point") %><br/>
  <%= form.text_field :mount_point %>
</p>

<p>
  <%= form.label :password, Stream.human_attribute_name("password") %><br/>
  <%= form.text_field :password %>
</p>

<h3><%= t(".format_attributes") %></h3>

<p>
  <%= form.label :format, Stream.human_attribute_name("format") %><br/>
  <%= format_radio_buttons form %>
</p>

<p>
  <%= form.label :quality, Stream.human_attribute_name("quality") %><br/>
  <%= form.collection_select :quality, 0..10, :to_i, :to_s %>
</p>

