<h3><a href="#"><%= link_to stream.name, stream_path(stream) %></a></h3>
<div class="description">
  <% unless stream.description.blank? %>
  <p>
    <%= Stream.human_attribute_name("description") %>: <%= stream.description %>
  </p>
  <% end %>
  <p>
    URL: <%= stream.url %>
  </p>
  <p>
    Format: <%= stream.presenter.format.name %>, <%= Stream.human_attribute_name("quality") %> <%= stream.quality %>
  </p>
</div>

<div class="actions">
  <%= link_to t("actions.show"), stream, :class => "view" %>
  <%= link_to t("actions.edit"), edit_stream_path(stream), :class => "edit" %>
</div>
