<%= title_tag t(".title") %>

<% form_for @stream do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>

  <p>
    <%= f.submit t(".submit") %> 
    <%= t("or") %> <%= link_to "#{t(".cancel")} &#8250;", stream_path(@stream) %>
  </p>
<% end %>

