<%= title_tag "#{Stream.human_name} #{@stream.name}" %>

<div class="description">
  <h3><%= t(".server_attributes") %></h3>
  <p>
    <%= Stream.human_attribute_name("server") %> :
    <%= @stream.server %>
  </p>

  <p>
    <%= Stream.human_attribute_name("port") %> :
    <%= @stream.port %>
  </p>

  <p>
    <%= Stream.human_attribute_name("mount_point") %> :
    <%= @stream.mount_point %>
  </p>

  <p>
    <%= Stream.human_attribute_name("password") %> :
    <%= @stream.password %>
  </p>

  <h3><%= t(".format_attributes") %></h3>

  <p>
    <%= Stream.human_attribute_name("format") %> :
    <%= @stream.format %>
  </p>

  <p>
    <%= Stream.human_attribute_name("quality") %> :
    <%= @stream.quality %>
  </p>
</div>

<div class="actions">
  <%= link_to t("actions.edit"), edit_stream_path(@stream), :class => "edit" %>
  <%= link_to t("actions.destroy"), @stream, :confirm => t("destroy.confirm"), :method => :delete, :class => "destroy" %>
</div>
