<%= title_tag t(".title") %>

<h2><%= t(".last_events") %></h2>
<table class="events">
  <% for event in @events %>

  <tr>
    <td><%= event.severity_image_tag %></td>
    <td><%= event.localized_created_at %></td>
    <td><%= event.user_message %></td>
    <td><%= event.stream_link %></td>
  </tr>

  <% end %>
</table>

<%= link_to t('.see_all_events'), events_path %>

<h2><%= t(".monitoring") %></h2>

<div class="dashboard_monitoring">
<%= monitoring_preview_tag :ping , :class => "first" %>
<%= monitoring_preview_tag :if_eth0 %>
</div>
