<%= title_tag t(".title") %>


<% if @latest %>
<h2><%= t(".available_upgrade") %></h2>

<div class="description">
  <%= render @latest %>

  <div class="actions">
    <%= link_to_action @latest %>
    <%= link_to_description @latest %>
  </div>
</div>
<% else %>
<%= t(".no_new_release") %>
<% end %>

<h2><%= t(".current_release") %></h2>

<div class="description">
  <%= render @current %>

  <div class="actions">
    <%= link_to_description @current %>
  </div>
</div>

